<header class="masthead contain-to-grid sticky">

	<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		<ul class="title-area">
			<li class="name">
				<h2><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
			</li>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>

		<section class="top-bar-section">

			<!-- Left Nav Section -->
			<ul class="left">
				<li class="has-dropdown">
					<a href="#">Docs</a>
					<ul class="dropdown">
						<li><a href="{{ site.baseurl }}/docs/client-core">Client Core</a></li>
						<li><a href="{{ site.baseurl }}/docs/tzolkin">Tzolkin</a></li>
						<li><a href="{{ site.baseurl }}/docs/lepidoptera">Lepidoptera</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<a href="#">Tips</a>
					<ul class="dropdown">
						<li><a href="{{ site.baseurl }}/tips/wordpress">WordPress Tips</a></li>
						<li><a href="{{ site.baseurl }}/tips/foundation">Foundation Tips</a></li>
						<li><a href="{{ site.baseurl }}/tips/sublime">Sublime Tips</a></li>
						<li><a href="{{ site.baseurl }}/tips/javascript">JavaScript Tips</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<a href="#">Style Guides</a>
					<ul class="dropdown">
						<li><a href="{{ site.baseurl }}/style-guides/css">CSS</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<a href="#">Development Guides</a>
					<ul class="dropdown">
						<li><a href="{{ site.baseurl }}/development-guides/website-building-process/">Website Building Process</a></li>
						<li><a href="{{ site.baseurl }}/development-guides/making-a-development-plan/">Development Plan</a></li>
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/snippets/">Snippets</a></li>
				<li><a href="{{ site.baseurl }}/how-to-use-this-site/">How to Use this Site</a></li>
			</ul>

		</section>

	</nav>

</header>


