<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.title | downcase | replace:' ','-' }}">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>
    <script type="text/javascript">$(document).foundation();</script>
    <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation/foundation.magellan.js"></script>

  </body>

</html>
